@using MyInventory.Library.Extensions;
@model MyInventory.Areas.UserManagement.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

@using (Html.BeginHtmlBlock("RootStyles"))
{
    <style>
        .divider {
            margin: 1em 0em 1em 0em;
            height: 0.2em;
            background-color: #DBE2EF;
            border-radius: 0.5em;
        }
    </style>
}

<div class="w-100 h-100 overflow-auto text-dark">
    <div class="row p-0 m-0">
        <div class="container text-center" style="font-size: 2em;">
            <h1 style="margin-top: 2em; font-size: 2em;">Uh Oh</h1>
            <div class="divider"></div>
            <p class="text-left" style="font-size: 0.9em;">If you have forgotten your password, enter your email below and we will reset it for you and send you an email with the new password.</p>
            @using (Html.BeginForm("ForgotPassword", "User", new { area = "UserManagement" }, FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()
                <div class="form-inline text-left mt-5" style="font-size: 0.6em;">
                    <div>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @style = "max-width: 25em;" })
                        @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger", @style = "font-size: 0.8em;" })
                    </div>
                    <button type="submit" class="btn btn-siteblue ml-4">Reset Password</button>
                </div>
            }
        </div>
    </div>
</div>